<h1>Add course</h1>

<form action="/add" method="POST">
  <div class="input-field">
    <input
      placeholder="Placeholder"
      id="title"
      type="text"
      class="validate"
      name="title"
      required
    />
    <label for="title">Name of course</label>
    <span class="helper-text" data-error="wrong"></span>
  </div>
  <div class="input-field">
    <input
      placeholder="Placeholder"
      id="price"
      type="number"
      class="validate"
      name="price"
      required
    />
    <label for="price">Price of course</label>
    <span class="helper-text" data-error="wrong"></span>
  </div>
  <div class="input-field">
    <input
      placeholder="Placeholder"
      id="img"
      type="number"
      class="validate"
      name="img"
      required
    />
    <label for="img">URL of img</label>
    <span class="helper-text" data-error="wrong"></span>
  </div>
  <button class="btn btn-primary" type="submit">Add course</button>
</form>